/* basic reset */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  background: rgba(161, 197, 255, 0.973);
  /* width: 10px; */
  border-radius: 1rem;
}

*::-webkit-scrollbar-button {
  border-radius: 15%;
  background-color: #2979ff;
}

*::-webkit-scrollbar-thumb {
  /* border-radius: 15%; */
  min-height: 1rem;
  background-color: #75a7ffb8;

}

/* *::-webkit-scrollbar-button {

} */
/* *::-webkit-scrollbar-button { 

}*/